@font-face {
  font-family: "D2Coding";
  src: url("/fonts/D2Coding/D2Coding.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FZuanSu";
  src: url("/fonts/FZuanSu/FZuanSu-subset.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+9999, U+683C, U+91CC, U+62C9;
}
