@import "tailwindcss";
@import "./font.css";
@import "./theme.css" layer(theme);
@import "./utility.css";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  html[data-theme="pink"] {
    --color-primary: var(--color-pink-500);
    --color-secondary: var(--color-pink-400);
  }

  html[data-theme="blue"] {
    --color-primary: var(--color-blue-500);
    --color-secondary: var(--color-blue-400);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
