@import "tailwindcss";
@import "./font.css";
@import "./theme.css" layer(theme);
@import "./utility.css";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  html[data-theme="pink"] {
    --main-color: var(--base-pink);
  }

  html[data-theme="blue"] {
    --main-color: var(--base-blue);
  }

  a {
    text-decoration-line: underline;
    color: var(--color-main-600);
  }
  header a {
    text-decoration-line: none;
    color: unset;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
