@import "tailwindcss";
@import "./font.css";
@import "./theme.css" layer(theme);
@import "./utility.css";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  * {
    @apply transition-colors;
  }

  html[data-theme="pink"] {
    --main-color: var(--base-pink);
  }

  html[data-theme="blue"] {
    --main-color: var(--base-blue);
  }

  h1 {
    font-size: var(--text-4xl);
    font-weight: bold;
  }

  h2 {
    font-size: var(--text-3xl);
    font-weight: bold;
  }

  a {
    text-decoration-line: underline;
    color: var(--color-main-600);
  }
  header a {
    text-decoration-line: none;
    color: unset;
  }

  hr {
    padding-bottom: 24px;
    border-color: var(--color-main-200);
  }

  blockquote {
    border-left: 4px solid var(--color-main-200); /* 왼쪽 회색 세로줄 */
    background: var(--color-main-100); /* 연한 회색 배경 */
    padding: 12px 16px; /* 내부 여백 */
    margin: 16px 0; /* 상하 마진 */
    color: hsl(0, 0%, 23.9%); /* 글자 색상 */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
