.navigation {
    position: sticky;
    top: 0px;
    width: 100%;
    height: var(--navigation-height);
    color: var(--primary);
}
.navigation:hover {
    background-color: var(--primary-hover);
}
.navigation:focus {
    background-color: var(--primary-focus);
}
